---
import { Image } from "astro:assets";
import type { Project } from "../../models/Project";
import ProjectsGridProject from "./ProjectsGridProject.vue";
import { ProjectType } from "../../utils/enum";
import { getImage } from "../../utils/images";

const { projects, type } = Astro.props;

export interface Props {
  projects: Project[];
  type: ProjectType;
}
---

<div class="wrapper">
  <h2>{type.toLowerCase()}</h2>
  <div class="projects">
    {
      projects.map((project) => (
        <ProjectsGridProject project={project} type={type}>
          <Image
            class="projectImg"
            src={getImage(project.name, type)}
            alt={project.name + " cover image"}
            width={350}
            height={255}
            loading={"lazy"}
            format={"avif"}
          />
        </ProjectsGridProject>
      ))
    }
  </div>
</div>

<style lang="scss" scoped>
  .wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
  }

  .projects {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .projectImg {
    max-height: 15rem;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-fit: contain;
    background-color: var(--bg-darker0);
    flex: 1;
    overflow: hidden;
  }

  @media (max-width: 1280px) {
    .projects {
      gap: 3rem;
    }
  }
</style>
