---
import { queryLastProject } from "../../utils/utils";
import ProjectsGridProject from "./ProjectsGridProject.vue";

const lastProject = await queryLastProject();
---

<div>
  <h2>Last (updated) project :</h2>
  <ProjectsGridProject client:only project={lastProject} fit="cover" />
</div>

<style scoped>
  div {
    width: fit-content;
    display: flex;
    flex-flow: column;
  }
  h2 {
    padding: 0.25rem 0.5rem;
  }
</style>
