---
import { queryLastProject } from "../../utils/utils";
import ProjectsGridProject from "./ProjectsGridProject.vue";

const lastProject = await queryLastProject();
---

<div>
  <h2>Last (updated) project :</h2>
  <ProjectsGridProject project={lastProject} />
</div>

<style>
  div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }
</style>
