---
interface Props {
  name: string;
}
const { name } = Astro.props;

const url = Astro.originPathname;
const isHome = name === "home";
const route = isHome ? "/" : `/${name}`;
const active = isHome ? url === "/" : url.includes(route);
---

<a href={route} class:list={{ active: active }}>
  {name}
</a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
  }

  &::before,
  &::after {
    font-size: 1.1rem;
    content: "";
    width: 1ch;
    color: var(--bg-alter);
    transition: transform var(--timing-md);
  }

  &:before {
    transform: translateX(-0.3rem);
  }
  &:after {
    transform: translateX(0.3rem);
  }

  a.active {
    background-color: var(--highlight);
    color: var(--color-hover);

    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
</style>
