---
import Icon from "@components/icons/Icon.astro";
import ThemeSwitchButton from "../theme/ThemeSwitchButton.astro";
import MenuCategories from "./MenuCategories.astro";
---

<div class="menu">
  <button
    class="show-button"
    title="open menu"
    popovertarget="mobile-menu"
    popovertargetaction="show"
  >
    <Icon icon="IconAsterisk" />
  </button>
  <div popover id="mobile-menu">
    <div class="menu-header">
      <button
        class="hide-button"
        title="close menu"
        popovertarget="mobile-menu"
        popovertargetaction="hide"
      >
        <Icon icon="IconAsterisk" />
      </button>
    </div>
    <div class="menu-content">
      <!-- todo search -->
      <!-- <AppSearch /> -->
      <MenuCategories />
      <div class="theme">
        <ThemeSwitchButton theme="system" icon="IconMoonStars" />
        <ThemeSwitchButton theme="light" icon="IconMoonHalf" />
        <ThemeSwitchButton theme="dark" icon="IconMoonHalfFilled" />
      </div>
    </div>
  </div>
</div>

<style>
  .menu:has([popover]:popover-open) .show-button {
    background-color: var(--bg-alt);
  }

  button {
    /* background-color: var(--bg); */
    padding: 0.5rem;
    border-radius: var(--radius-sm);

    &:hover {
      background-color: var(--bg-alt);
    }

    &:focus-visible {
      outline: 2px solid var(--color);
      outline-offset: -3px;
    }

    &.show-button {
      position: fixed;
      right: 2rem;
      top: 1.95rem;
      backdrop-filter: blur(5px);
    }

    &.hide-button {
      transform: none;
      transition: transform var(--timing-xl) 0.1s;

      @starting-style {
        transform: rotate(360deg);
      }
    }
  }

  [popover] {
    z-index: 200;
    background-color: var(--bg);
    padding: 0;
    border: none;
    outline: none;
    inset: 0;
    width: 100vw;
    border-bottom: 1px solid var(--bg-alt);
    display: none;
    overflow: hidden;

    &:popover-open {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      box-shadow:
        var(--bg) 0px 1px 1px 0px inset,
        var(--bg) 0px 50px 100px -20px,
        var(--bg) 0px 30px 60px -30px;
    }
  }

  .menu-header {
    height: 3.25rem;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;
    padding: 3rem 2rem;
  }

  .menu-title {
    color: var(--color-alt);
    padding: 0.15rem 1rem 0.3rem;
  }

  .menu-content {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  .theme {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
</style>
