---
interface Props {
  url: string;
  type: string;
  name: string;
}

const { type, name, url } = Astro.props;
---

<div>
  <h2>Latest {type}</h2>
  <a href={url + name}>
    {name} →
  </a>
</div>

<style>
  div {
    width: fit-content;
    display: flex;
    flex-flow: column;
  }
  h2 {
    padding: 0.25rem 0rem;
    color: var(--color-alter);
    background-color: var(--bg);

    @media (max-width: 1280rem) {
      padding: 0;
    }
  }

  a {
    color: var(--color-hover);
    padding: 0.25rem 0.5rem 0.1rem;
    background-color: var(--highlight);
    text-transform: capitalize;
    transition: padding var(--timing-md);
    border-radius: var(--radius-sm);

    &:hover,
    &:focus {
      text-decoration: underline;
      padding: 0.25rem 0.75rem 0.1rem;
    }
  }
</style>
