:root {
  --highlight: oklch(80% 0.1 320);
  --red: oklch(43.558% 0.1702 5.884);

  /*________ LIGHT ________*/

  --color-25: oklch(0.902 0.003 17.587);
  --color-50: oklch(0.835 0.006 17.587);
  --color-100: oklch(0.769 0.009 17.587);
  --color-150: oklch(0.734 0.012 17.587);
  --color-200: oklch(0.702 0.012 17.587);
  --color-300: oklch(0.635 0.016 17.587);
  --color-400: oklch(0.569 0.015 17.587);
  --color-500: oklch(0.502 0.013 17.587);
  --color-600: oklch(0.435 0.011 17.587);
  --color-700: oklch(0.369 0.009 17.587);
  --color-800: oklch(0.302 0.008 17.587);
  --color-900: oklch(0.235 0.006 17.587);
  --color-950: oklch(0.169 0.004 17.587);
  --color-975: oklch(0.102 0.003 17.587);

  --color-25-tsp: oklch(0.902 0.003 17.587 / .9);


  /*________ DARK ________*/

  --dark-25: oklch(0.902 0.003 300);
  --dark-50: oklch(0.835 0.006 300);
  --dark-100: oklch(0.769 0.009 300);
  --dark-150: oklch(0.734 0.012 300);
  --dark-200: oklch(0.702 0.012 300);
  --dark-300: oklch(0.635 0.016 300);
  --dark-400: oklch(0.569 0.016 300);
  --dark-500: oklch(0.502 0.016 300);
  --dark-600: oklch(0.435 0.028 300);
  --dark-700: oklch(0.369 0.028 300);
  --dark-800: oklch(0.302 0.02 300);
  --dark-900: oklch(0.235 0.02 300);
  --dark-950: oklch(0.169 0.02 300);
  --dark-975: oklch(0.102 0.02 300);

  --dark-800-tsp: oklch(0.302 0.02 300 / .9);
}