@font-face {
  font-family: 'Cascadia';
  font-style: normal;
  font-weight: 200 700;
  src: url('../../fonts/CascadiaCode.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia';
  font-style: italic;
  font-weight: 200 700;
  src: url('../../fonts/CascadiaCodeItalic.woff2') format('woff2');
  font-display: swap;
}