@import './system/reset.css';
@import './system/app.css';
@import './system/colors.css';
@import './system/themes.css';
@import './system/shaping.css';
@import './system/transitions.css';
@import './system/typography.css';
@import './system/fonts.css';
@import './system/utilities.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    font-size: 17px;
    font-family: 'Apercu', monospace;
}

@media (max-width: 1280px) {
    * {
        font-size: 16px;

        &::after,
        &::before {
            font-size: 13px;
        }
    }
}

body {
    background-color: var(--bg);
    position: relative;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    direction: ltr;
}

html {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) transparent;
    scrollbar-gutter: stable;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    text-wrap: pretty;

    /* &:has([popover]:popover-open) {
        overflow: hidden;
        user-select: none;
        pointer-events: none;
    } */
}


main {
    padding: 0 1rem;
}

a {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--color);
    width: fit-content;

    &:hover {
        outline: none;
        color: var(--color-hover);
        background-color: var(--highlight);
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid var(--color);
    }
}

p,
h1,
h2,
h3,
h4,
h5,
pre,
span,
button,
.icon {
    color: var(--color);
}

button {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--color)
    }
}

* ::selection {
    color: var(--bg);
    background-color: var(--color);
}