:root {
    /* Grey */
    --Grey-0: #ffffff;
    --Grey-50: #f6f6f6;
    --Grey-100: #eaeaea;
    --Grey-200: #dedede;
    --Grey-300: #d5d5d5;
    --Grey-400: #c5c5c5;
    --Grey-500: #a5a5a5;
    --Grey-600: #666666;
    --Grey-700: #323232;
    --Grey-800: #242424;
    --Grey-1000: #181818;

    /* Red */
    --red: #960843;

    // COLORS
    --highlight: hsl(288, 50%, 77%);

    
    --color: var(--Grey-1000);
    --color-lightest: var(--Grey-100);
    --color-light: var(--Grey-500);
    --color-error: var(--red);
    --bg: var(--Grey-200);
    --bg-darker0: var(--Grey-300);
    --bg-darker: var(--Grey-400);
    --bg-darkest: var(--Grey-1000);
    --bg-light: var(--Grey-100);
    --bg-lighter: var(--Grey-50);
    --border-color: var(--Grey-200);
    --scroll-color: var(--Grey-500);
}

.dark-mode {
    --color: var(--Grey-500);
    --color-lightest: var(--Grey-100);
    --color-light: var(--Grey-600);
    // --color: var(--Grey-600);
    // --color-lightest: var(--Grey-100);
    // --color-light: var(--Grey-500);
    --color-error: var(--red);
    --bg: var(--Grey-800);
    --bg-darker0: var(--Grey-700);
    --bg-darker: var(--Grey-700);
    --bg-darkest: var(--Grey-600);
    --bg-light: var(--Grey-100);
    --bg-lighter: var(--Grey-700);
    --border-color: var(--Grey-200);
}

// .sepia-mode {
//     --color: #433422;
//     --color-secondary: #504231;
//     --bg: #f1e7d0;
//     --bg-secondary: #eae0c9;
//     --border-color: #ded0bf;
// }