:root {
    color-scheme: light dark;
    --app-width: 100vw;

    /* COLORS */
    --highlight: light-dark(oklch(80% 0.1 320), oklch(60% 0.1 300));

    --red: #960843;
    --Grey-0: #ffffff;
    --Grey-50: #f9f6f6;
    --Grey-100: #edeaea;
    --Grey-200: #e1dede;
    --Grey-300: #d8d5d5;
    --Grey-400: #c8c5c5;
    --Grey-500: #a8a5a5;
    --Grey-600: #696666;
    --Grey-700: #353232;
    --Grey-800: #272424;
    --Grey-1000: #1b1818;

    /* THEMES */
    --color: light-dark(var(--Grey-1000), var(--Grey-500));
    --color-dim: light-dark(var(--Grey-600), var(--Grey-100));
    --color-lightest: light-dark(var(--Grey-100), var(--Grey-800));
    --color-light: light-dark(var(--Grey-500), var(--Grey-600));
    --color-hover: light-dark(var(--color), var(--bg));
    --color-error: var(--red);
    --bg: light-dark(var(--Grey-200), #282424);
    --bg-darker0: light-dark(var(--Grey-300), #322d2d);
    --bg-darker: light-dark(var(--Grey-400), #484444);
    --bg-darkest: light-dark(var(--Grey-1000), var(--Grey-600));
    --bg-light: light-dark(var(--Grey-100), #181414);
    --bg-lighter: light-dark(var(--Grey-50), #141010);
    --border-color: light-dark(var(--Grey-200), var(--Grey-200));
    --scroll-color: light-dark(var(--Grey-500), var(--Grey-700));
}

html[data-theme="light"] {
    color-scheme: light;
}

html[data-theme="dark"] {
    color-scheme: dark;
}

html[data-theme="system"] {
    color-scheme: light dark;
}