// APPEAR
.appear-enter-active,
.appear-leave-active {
    transition: opacity 0.15s, transform 0.15s;
}

.appear-enter-from {
    opacity: 0;
    transform: translateY(-0.5rem);
}

.appear-leave-to {
    opacity: 0;
    transform: translateY(0.5rem);
}

// FADE
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s;
}

// .fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


// SLIDETORIGHT
.slideToRight-enter-active,
.slideToRight-leave-active {
    transition: transform 0.2s, opacity 0.2s;
}

.slideToRight-enter-from {
    transform: translateX(1rem);
    opacity: 0;
}

.slideToRight-leave-to {
    transform: translateX(-1rem);
    opacity: 0;
}

// SLIDETOLEFT
.slideToLeft-enter-active,
.slideToLeft-leave-active {
    transition: transform 0.2s, opacity 0.2s;
}

.slideToLeft-enter-from {
    transform: translateX(-1rem);
    opacity: 0;
}

.slideToLeft-leave-to {
    transform: translateX(1rem);
    opacity: 0;
}