---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection, getEntry, render } from "astro:content";

const { article } = Astro.params;
const entry = await getEntry("articles", article ?? "lol");
if (!entry) throw new Error("Could not find blog post 1");
const { Content, headings } = await render(entry);
const filteredHeadings = headings.filter(
  (heading) => heading.depth > 1 && heading.depth < 4,
);

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { article: article.data.name },
  }));
}

const wordCount = entry?.body?.split(/\s+/).length;
const readingTime = Math.ceil((wordCount ?? 0) / 200);
---

<MainLayout>
  <div class="article">
    <div class="headings">
      <nav>
        {
          filteredHeadings.map((heading) => (
            <a
              href={"#" + heading.slug}
              class={heading.depth === 2 ? "h2" : "h3"}
            >
              {heading.text}
            </a>
          ))
        }
      </nav>
      <a class="back" href={"/articles#" + entry.data.name}
        >← back to articles</a
      >
    </div>
    <div class="content">
      <h1>{entry.data.title}</h1>
      <p class="time">
        ~ {readingTime} minute{readingTime > 1 ? "s" : ""} read
      </p>
      <Content />
    </div>
  </div>
</MainLayout>

<style>
  .article {
    justify-self: flex-start;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    height: 100%;
    flex-grow: 1;
    display: grid;
    padding: 0;
    gap: 1.5rem;
    grid-template-columns: 18rem auto 18rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  .time {
    display: flex;
    padding-bottom: 1rem;
    color: var(--color-dim);
    justify-content: center;
    width: 100%;
  }

  .content {
    grid-column: 2;
    max-width: 44rem;
    padding: 4rem 1rem 10rem;
    margin: 0 auto;

    h1 {
      font-size: 3rem;
      text-transform: capitalize;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      &:not(:first-child) {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
      }
    }
    h3 {
      font-size: 1.5rem;
      &:not(:first-child) {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }
    }
    h4 {
      font-size: 1.25rem;
      &:not(:first-child) {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
      }
    }

    hr {
      margin: 2rem 0;
      color: var(--bg-light);
    }

    a {
      text-decoration: underline;
    }

    p:not(:first-child) {
      margin: 0.75rem 0;
    }

    p,
    li {
      font-family: "Apercu regular";
    }

    p {
      line-height: 1.65rem;

      &:not(:first-of-type) {
        padding-top: 0.5rem;
      }
      &:not(:last-of-type) {
        padding-bottom: 0.5rem;
      }

      &:has(+ ul),
      &:has(+ ol) {
        padding-bottom: 0;
      }
    }

    ul,
    ol {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
    }

    li {
      line-height: 1.2rem;
    }

    @media (max-width: 1280px) {
      grid-column: 1;
    }
  }

  .headings {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-flow: column;
    height: calc(100dvh - 4rem);
    border-right: 2px solid var(--bg-darker0);

    nav {
      display: flex;
      flex-flow: column;
      color: var(--color-light);
      padding: 0;
      padding-bottom: 2rem;
      height: fit-content;
      overflow: hidden;
      border-radius: 0.25rem;

      a {
        display: flex;
        text-decoration: none;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        gap: 0.5rem;
        letter-spacing: -0.5px;

        &:hover {
          text-decoration: underline;
          color: var(--color);
        }
      }
    }

    .h2 {
      margin-bottom: 0.15rem;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    .h3 {
      color: var(--color-light);
      font-family: "Apercu regular";
    }

    @media (max-width: 1280px) {
      position: relative;
      height: fit-content;
      width: fit-content;
      margin: 0 auto;
      top: 0;
      padding: 2rem 0;
      border: none;
    }
  }

  .back {
    font-size: 0.9rem;
    text-align: center;
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
    text-decoration: underline;
  }
</style>
