---
import type { Media } from "../../models/Media";
import type { MediaList } from "../../models/MediaList";
import { query } from "../../utils/utils.ts";
import Favorite from "./Favorite.vue";

const movies = await query<Media>("favMovies");
const moviesAnimated = await query<Media>("favMoviesAnimated");
const moviesShort = await query<Media>("favMoviesShort");
const series = await query<Media>("favSeries");
const seriesAnimated = await query<Media>("favSeriesAnimated");
const books = await query<Media>("favBooks");
const booksVisual = await query<Media>("favBooksVisual");
const games = await query<Media>("favGames");

const list: MediaList[] = [
  { title: "Movies", medias: movies, toggled: true },
  { title: "Animated movies", medias: moviesAnimated },
  { title: "Short movies", medias: moviesShort },
  { title: "Series", medias: series },
  { title: "Animated series", medias: seriesAnimated, size: "large" },
  { title: "Books", medias: books },
  { title: "Graphic novels / Comics", medias: booksVisual, size: "large" },
  { title: "Games", medias: games, size: "full" },
];
---

<h2>₊˚⊹♡</h2>
<div class="grid">
  {
    list.map((elt) => (
      <Favorite
        title={elt.title}
        medias={elt.medias}
        size={elt.size}
        toggled={elt.toggled}
        client:visible
      />
    ))
  }
</div>

<style scoped>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1px;
    background-color: var(--bg-darker);
    border: 1px solid var(--bg-darker);
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    @media (max-width: 1280px) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  h2 {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--bg-darker0);
    padding: 1rem 1.5rem;
    padding: 1rem;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    width: fit-content;
    text-align: center;
    width: 6.5rem;
    font-size: 1.25rem;
    width: 100%;
    line-height: 1.5rem;
    border: 1px solid var(--bg-darker);
    border-radius: 0.5rem;
    color: var(--color-light);
    margin-bottom: 1rem;
    position: relative;

    &::after {
      bottom: -1rem;
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 1rem;
      min-height: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--bg-darker);
    }
  }
</style>
