.logList {
  display: flex;
  flex-flow: column;
}

.log,
.coords {
  color: var(--color-alter);
  animation: fade .5s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}