---
import BaseLayout from "@layouts/BaseLayout.astro";
import ErrorFlower from "../components/ErrorFlower.vue";
---

<BaseLayout>
  <div class="wrapper">
    <!-- <h1>[ Page not found ~ 404 ]</h1> -->
    <h1>[ 404 ]<br /> Page not found !</h1>
    <p></p>
    <p>
      Woopsi, you shouldn't be here ...<br /> That may be my fault, or that may be
      yours :^)
    </p>
    <a href="/">Go back home !</a>
    <ErrorFlower />
    <p>Art by <span>Susie Oviatt</span></p>
  </div>
</BaseLayout>

<style scoped>
  .wrapper {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
  }

  h1,
  a,
  span {
    color: var(--color-error);
    color: var(--highlight);
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }
  }

  p {
    text-align: center;
  }
</style>
