---
import type { Link } from "../models/Link";
import type { Media } from "../models/Media";
import { query } from "../utils";
import LinkList from "../components/LinkList.astro";
import MediaRecent from "../components/MediaRecent.astro";
import Favorites from "../components/about/Favorites.astro";
import Timeline from "../components/Timeline.astro";
import SectionTitle from "../components/SectionTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";

const links = await query<Link>("nowLinks");
const medias = await query<Media>("nowMedia");
---

<MainLayout>
	<div class="content">
		<section>
			<SectionTitle name="now" icon="tabler:mood-smile" />
			<LinkList links={links} />
			<MediaRecent medias={medias} />
		</section>

		<section>
			<SectionTitle name="favorites" icon="tabler:heart" />
			<Favorites />
		</section>

		<section>
			<SectionTitle name="resume" icon="tabler:database" />
			<Timeline />
		</section>
	</div>
</MainLayout>

<style scoped lang="scss">
	.content {
		display: flex;
		flex-flow: column;
		align-items: start;
		// padding-top: 2rem;
		gap: 4rem;
		opacity: 1;
		transform: translateY(0);
		transition: transform 0.3s;
	}

	.loader {
		border: 2px solid var(--bg-darker0);
		border-radius: 0.5rem;
		height: 80%;
		width: 30rem;
		height: 30rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section {
		width: 100%;
	}

	@media (min-width: 1280px) {
		.wrapper {
			flex-flow: row;
		}
	}
</style>
