---
import { query } from "../utils/utils.ts";
import Favorites from "../components/about/Favorites.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Timeline from "../components/about/Timeline.vue";
import type { Moment } from "../models/Moment";
// import type { Link } from "../models/Link";
// import type { Media } from "../models/Media";
// import SectionTitle from "../components/SectionTitle.vue";
// import IconSmile from "../components/Icons/IconSmile.vue";
// import LinkList from "../components/LinkList.vue";
// import MediaRecent from "../components/MediaRecent.astro";
// import IconDatabase from "../components/Icons/IconDatabase.vue";

// const links = await query<Link>("nowLinks");
// const medias = await query<Media>("nowMedia");
const jobs = await query<Moment>("jobs");

const moments: Moment[] = jobs.sort(
	(a, b) => b.start.getTime() - a.start.getTime(),
);
---

<MainLayout>
	<div class="content">
		<!-- TODO :: intro text! -->

		<section>
			<Timeline client:only moments={moments} />
		</section>

		<section>
			<Favorites />
		</section>
	</div>
</MainLayout>

<style scoped>
	.intro {
		display: flex;
		flex-flow: column;

		p {
			max-width: 90rem;
			text-wrap: balance;

			&:not(:last-of-type) {
				padding-bottom: 2rem;
			}
		}
	}

	.content {
		display: flex;
		flex-flow: column;
		align-items: start;
		padding: 2rem 0 3rem;
		gap: 4rem;
		width: 100%;
	}

	section {
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.technow {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	@media (max-width: 1280px) {
		.content {
			padding: 0 1rem;
		}
	}
</style>
