---
import StatementLayout from "@layouts/StatementLayout.astro";
---

<StatementLayout>
  <h1>Accessibility statement</h1>
  <p class="deco" inert>:._.~*'*~._.:</p>
  <p>12 of March 2026</p>
  <p>
    I'm trying to make this website accessible. This is something I've always
    had in mind but I didn't know much about accessibility by the time I started
    developping :(
  </p>
  <p>
    Right now the site is using proper HTML semantics, every interactive element
    is highlighted when focused, in the correct sequence. Every image has a
    proper caption.
  </p>
  <p>What I need to work on :</p>
  <ul>
    <li>
      Fix contrast problems (there is a lot on decoration elements but also on
      secondary text)
    </li>
    <li>Add titles to every button and link</li>
    <li>Proper Accessibility statement and checks</li>
  </ul>
  <p>
    Don't hesitate to contact me at <a href="mailto:gbelliere@gmail.com"
      >gbelliere@gmail.com</a
    > for any question, suggestion, or anything else :)
  </p>

  <p class="deco" inert>*`':._.:'`*</p>
  <a class="home" href="/">← go back home</a>
</StatementLayout>

<style>
  @import "../assets/style/statement.css";
</style>
