---
import CollectionLatest from "@components/CollectionLatest.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { queryLastArticle, queryLastProject } from "@utils/content";

const latestProject = await queryLastProject();
const latestArticle = await queryLastArticle();
---

<script>
  import { useAscii } from "@utils/ascii";
  import { switchTextContent } from "@utils/utils";

  const state = document.querySelector(".state") as HTMLElement;
  const states = ["unfinished", "human made"];

  switchTextContent(state, states);
  useAscii();
</script>

<MainLayout>
  <div id="container"></div>
  <div class="core">
    <h1>
      <span class="a">calamina</span>
      <span class="b">cafe</span>
    </h1>
    <div class="bottom">
      <div class="latest">
        <CollectionLatest
          name={latestArticle?.name}
          type="article"
          url="articles/"
        />
        <CollectionLatest
          name={latestProject?.name}
          type="project"
          url="projects/web/"
        />
      </div>
      <div class="description">
        <p>
          <span class="ball"></span>Personnal website of creative developper <span
            >Grégoire Belliere</span
          >
        </p>
        <p>Forever <span class="state">unfinished</span>, forever changing.</p>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  #container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }

  .core {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100dvh - 5rem);
    width: 100%;
    place-items: center;
    overflow-x: hidden;
  }

  h1 {
    grid-row: 2;
    display: flex;
    flex-flow: column;
    width: fit-content;
    gap: 0 2rem;
    align-self: start;
    align-items: end;
    padding-bottom: 1rem;

    span {
      font-size: 13rem;
      font-family: "Redaction", serif;
      font-weight: 500;
      letter-spacing: -10px;
      line-height: 9rem;
      display: grid;
      text-align: center;
      text-align: end;

      @media (max-width: 50rem) {
        font-size: 7rem;
        letter-spacing: -4px;
        letter-spacing: -4px;
        line-height: 5.5rem;
      }
    }
  }

  .bottom {
    width: 100%;
    grid-row: 3;
    align-self: end;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: fit-content;
    padding: 0 2rem 4rem;

    @media (max-width: 1280px) {
      padding: 0 1rem 1.5rem;
    }
  }

  .latest {
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
  }

  .description {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-wrap: balance;
    padding: 0;
    border-radius: 0.4rem;

    p {
      background-color: var(--bg);
      /* background-color: var(--bg-darker0); */
      font-variant: all-small-caps;
      font-size: 1.05rem;
      line-height: 1.2rem;
      color: var(--color-light);

      &:first-of-type {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;

        .ball {
          background-color: var(--highlight);
          height: 0.45rem;
          width: 0.45rem;
          flex-shrink: 0;
          border-radius: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 50rem) {
    .bottom {
      left: 3rem;
      right: 3rem;
      bottom: 2rem;
      display: flex;
      flex-flow: column;
      align-items: start;
      gap: 6rem;
    }

    .description {
      margin-left: auto;

      p,
      span {
        line-height: 0.9rem;
        letter-spacing: -0.5px;
        font-size: 0.8rem;
      }
    }
  }

  .state {
    display: inline-block;
    width: 8.5ch;
  }
</style>
