---
import AsciiScene from "../components/AsciiScene.vue";
import LinkContact from "../components/LinkContact.vue";
import SocialsList from "../components/SocialsList.vue";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="wrapper">
		<div class="content">
			<section>
				<h1>calamina.cafe</h1>
			</section>
			<section>
				<p>Hello and welcome :)</p>
				<p>Personal space of Grégoire Belliere</p>
				<p>Work in progress !</p>
			</section>
			<LinkContact />
			<SocialsList />
		</div>

		<AsciiScene client:only>
			<div slot="fallback" class="loader">Loading ascii ...</div>
		</AsciiScene>
	</div>
</MainLayout>

<style scoped lang="scss">
	.wrapper {
		display: flex;
		flex-flow: column;
		gap: 0.5rem;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.content {
		display: flex;
		flex-flow: column;
		align-items: center;
		gap: 2rem;
		opacity: 1;
		transform: translateY(0);
		transition: transform 0.3s;
	}

	.loader {
		border: 2px solid var(--bg-darker0);
		border-radius: 0.5rem;
		height: 80%;
		width: 30rem;
		height: 30rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section {
		width: 100%;
	}

	@media (min-width: 1280px) {
		.wrapper {
			flex-flow: row;
		}
	}
</style>
