---
import MainLayout from "../layouts/MainLayout.astro";
// import ProjectLast from "../components/projects/ProjectLast.astro";
---

<script src="../utils/ascii"></script>

<MainLayout>
  <div id="container"></div>
  <div class="wrapper">
    <div class="card">
      <h1>
        calamina cafe
        <span>.:*</span>
      </h1>
      <div class="desc">
        <p>Hello and welcome :></p>
        <p class="small">enjoy the tour !</p>
      </div>
      <div class="desc2">
        <p>Work in progress /!\</p>
        <p class="small">i'm not done yet !</p>
      </div>
      <div class="visual">
        <p class="a">.</p>
        <p class="b">*</p>
        <p class="c">o</p>
        <p class="d">@</p>
      </div>
      <div class="info">.... . .... .</div>
      <div class="status">..::||::..</div>
      <div class="mimi"><span class="dot"></span></div>
    </div>
  </div>
</MainLayout>

<style>
  #container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }

  .wrapper {
    width: 100%;
    height: calc(100dvh - 5rem);
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    place-items: center;
  }

  .card {
    grid-column: 2;
    grid-row: 10;
    width: fit-content;
    height: fit-content;
    display: grid;
    background-color: var(--bg-darker);
    gap: 1px;
    outline: 0.75rem solid var(--bg);
    border: 1px solid var(--bg-darker);
    border-radius: 0.5rem;
    overflow: hidden;
    grid-template-areas:
      "title title title  title  title"
      "desc  desc  desc   visual visual"
      "desc2 desc2 desc2  visual visual"
      "info  info  status status mimi";
    grid-template-rows: 1fr 1fr 1fr 2rem;

    & > * {
      /* border-radius: 0.5rem; */
      background-color: var(--bg);
      padding: 0.1rem 0.5rem;
    }
  }

  .card h1 {
    text-transform: capitalize;
    grid-area: title;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 0.4rem;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
  }
  .card h1 span {
    margin-left: auto;
    line-height: 1rem;
    font-size: 1rem;
    align-self: center;
    color: var(--highlight);
  }
  .desc {
    grid-area: desc;
  }
  .desc2 {
    grid-area: desc2;
  }
  .visual {
    grid-area: visual;
    display: grid;
    grid-template-areas:
      ". . . . . ."
      ". a . . . ."
      ". . . b . ."
      ". c c c . ."
      ". . . . d ."
      ". . . . . .";
    grid-template-columns: 0.5rem repeat(4, 1fr) 0.5rem;
    grid-template-rows: 0.5rem repeat(4, 1fr) 0.5rem;
    line-height: 1rem;
    & > * {
      color: var(--bg-darker0x);
    }

    .a {
      grid-area: a;
    }
    .b {
      grid-area: b;
    }
    .c {
      grid-area: c;
    }
    .d {
      grid-area: d;
    }
  }
  .info {
    grid-area: info;
  }
  .card .status {
    grid-area: status;
    text-align: center;
    padding-top: 0.25rem;
  }
  .mimi {
    grid-area: mimi;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;

    .dot {
      flex-shrink: 0;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: var(--highlight);
    }
  }
  .info,
  .status,
  .mimi {
    font-size: 0.9rem;
    display: grid;
    align-items: center;
  }

  .small {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: var(--color-light);
  }

  /* .wrapper {
    width: 100%;
    height: calc(100dvh - 5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  }

  .intro,
  .last,
  .cta {
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
  }

  .cta {
    grid-row: 2;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg);
    box-shadow: rgba(100, 100, 111, 0.08) 0px 0px 20px 0px;
    outline: 2px solid var(--bg-darker0);
    outline-offset: 4px;
    border: 2px solid var(--bg-darker0);
    width: fit-content;
    align-self: flex-end;
    font-style: oblique;
    @media (max-width: 1280px) {
      justify-self: center;
      grid-row: 3;
    }
  }

  .intro {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    align-self: flex-end;

    p {
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--bg-darker0);
      width: fit-content;
    }

    &:hover .kao {
      background-color: var(--highlight);
    }
  }

  p.kao {
    padding-right: 0.75rem;
    transition: background-color 0.5s;
    letter-spacing: -4px;
    @media (max-width: 1280px) {
      letter-spacing: -2px;
    }
  }

  .last {
    grid-row: 2;
    grid-column: 2;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--bg);
    background-color: var(--bg-darker0);
    place-self: end;
    @media (max-width: 1280px) {
      grid-column: 1;
    }
  } */
</style>
