---
import IntroCard from "@components/IntroCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<script src="../utils/ascii"></script>

<MainLayout>
  <div id="container"></div>
  <IntroCard />
</MainLayout>

<style>
  #container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }
</style>
