---
import TitleDisplay from "@components/atomic/TitleDisplay.astro";
import LatestList from "@components/features/latest/latestList.astro";
import { description } from "@data/description";
import MainLayout from "@layouts/MainLayout.astro";
---

<script>
  import { useAscii } from "@utils/ascii";
  import { switchTextContent } from "@utils/utils";

  const stateList = ["human made", "half ready", ".-- .--.-."];
  const stateElement = document.querySelector(".state") as HTMLElement;

  switchTextContent(stateElement, stateList);
  useAscii();
</script>

<MainLayout description={description.home}>
  <div id="container"></div>
  <div class="core">
    <TitleDisplay />
    <!-- <h1>
      <span class="a">calamina</span>
      <span class="b">mina</span>
      <span class="b">mina</span>
    </h1> -->
    <!-- <span class="b">:)</span> -->
    <!-- <span class="a">calamina</span>
      <span class="b">cafe</span> -->
    <div class="bottom">
      <LatestList />
      <div class="description">
        <p>
          <span class="ball"></span>Personnal website of developper <span
            >Grégoire Belliere</span
          >
        </p>
        <!-- <p>Forever <span class="state">human made</span> &</p> -->
      </div>
    </div>
  </div>
</MainLayout>

<style>
  #container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
  }

  .core {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 0.75fr 1fr 1fr;
    height: calc(100svh - 6rem);
    gap: 0;
    width: 100%;
    place-items: center;
    overflow-x: hidden;
    padding: 0 0 3rem;

    @media (max-width: 1280px) {
      grid-template-rows: 0.25fr 1fr 1fr;
      height: calc(100svh - 8rem);
      padding: 0;
    }
  }

  .bottom {
    width: 100%;
    grid-row: 3;
    align-self: end;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: fit-content;

    @media (max-width: 1280px) {
      padding: 0 0 1rem;
      left: 3rem;
      right: 3rem;
      bottom: 0;
      display: flex;
      flex-flow: column;
      align-items: start;
      gap: 6rem;
    }
  }

  .description {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-wrap: balance;
    padding: 0;
    width: fit-content;

    @media (max-width: 1280px) {
      gap: 0.5rem;

      span,
      p {
        flex-wrap: wrap;
        line-height: 0.6rem;
        letter-spacing: -0.5px;
        font-size: 0.8rem;
      }
    }

    p {
      background-color: var(--bg);
      line-height: 1.25rem;
      color: var(--color-alter);
      border-radius: var(--radius-sm);

      &:first-of-type {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;

        .ball {
          background-color: var(--highlight);
          height: 0.45rem;
          width: 0.45rem;
          flex-shrink: 0;
          border-radius: var(--radius-md);
        }
      }
    }
  }

  .state {
    display: inline-block;
    width: 10ch;

    @media (max-width: 1280px) {
      width: 9.5ch;
    }
  }
</style>
