---
import LatestList from "@components/features/latest/latestList.astro";
import { description } from "@data/description";
import MainLayout from "@layouts/MainLayout.astro";
---

<script>
  import { useAscii } from "@utils/ascii";
  import { switchTextContent } from "@utils/utils";

  const stateList = ["human made", "half ready", ".-- .--.-."];
  const stateElement = document.querySelector(".state") as HTMLElement;

  switchTextContent(stateElement, stateList);
  useAscii();
</script>

<MainLayout description={description.home}>
  <div id="container"></div>
  <div class="core">
    <h1>
      <span class="a">calamina</span>
      <span class="b">cafe</span>
    </h1>
    <div class="bottom">
      <LatestList />
      <div class="description">
        <p>
          <span class="ball"></span>Personnal website of developper <span
            >Grégoire Belliere</span
          >
        </p>
        <!-- <p>Forever <span class="state">human made</span> &</p> -->
      </div>
    </div>
  </div>
</MainLayout>

<style>
  #container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }

  .core {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100dvh - 5rem);
    width: 100%;
    place-items: center;
    overflow-x: hidden;
  }

  h1 {
    grid-row: 2;
    display: flex;
    flex-flow: column;
    width: fit-content;
    gap: 0 2rem;
    align-self: start;
    align-items: end;
    padding-bottom: 1rem;

    span {
      font-size: 13rem;
      font-family: "Redaction", serif;
      font-weight: 500;
      letter-spacing: -10px;
      line-height: 9rem;
      display: grid;
      text-align: center;
      text-align: end;

      @media (max-width: 1280rem) {
        font-size: 7rem;
        letter-spacing: -4px;
        letter-spacing: -4px;
        line-height: 5.5rem;
      }
    }
  }

  .bottom {
    width: 100%;
    grid-row: 3;
    align-self: end;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: fit-content;
    padding: 0 2rem 4rem;

    @media (max-width: 1280px) {
      padding: 0 1rem 1.5rem;
    }
  }

  .description {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-wrap: balance;
    padding: 0;
    width: 100%;

    p {
      background-color: var(--bg);
      line-height: 1.25rem;
      color: var(--color-alter);
      padding: 0.5rem 0.75rem;
      border-radius: var(--radius-sm);

      &:first-of-type {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;

        .ball {
          background-color: var(--highlight);
          height: 0.45rem;
          width: 0.45rem;
          flex-shrink: 0;
          border-radius: var(--radius-md);
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .bottom {
      left: 3rem;
      right: 3rem;
      bottom: 2rem;
      display: flex;
      flex-flow: column;
      align-items: start;
      gap: 6rem;
    }

    .description {
      gap: 0.5rem;
      span,
      p {
        flex-wrap: wrap;
        line-height: 0.6rem;
        letter-spacing: -0.5px;
        font-size: 0.8rem;
      }
    }
  }

  .state {
    display: inline-block;
    width: 10ch;

    @media (max-width: 1280px) {
      width: 9.5ch;
    }
  }
</style>
