---
import CollectionLatest from "@components/CollectionLatest.astro";
import IntroCard from "@components/IntroCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { queryLastArticle, queryLastProject } from "@utils/utils";

const latestProject = await queryLastProject();
const latestArticle = await queryLastArticle();
---

<script src="../utils/ascii"></script>

<MainLayout>
  <div id="container"></div>
  <IntroCard />
  <div class="latest">
    <CollectionLatest
      name={latestArticle?.name}
      type="article"
      url="articles/"
    />
    <CollectionLatest
      name={latestProject?.name}
      type="project"
      url="projects/web/"
    />
  </div>
</MainLayout>

<style>
  #container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }

  .latest {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
  }
</style>
