---
import { description } from "@data/description";
import StatementLayout from "@layouts/StatementLayout.astro";
---

<StatementLayout description={description.privacy}>
  <h1>Privacy statement</h1>
  <p class="deco" inert>:._.~*'*~._.:</p>
  <p>I do not collect data nor do I track any analytics !</p>
  <p>
    There is only one stored parameter : your preferred theme (if you ever chose
    one, else the site simply respects your computer defaults).
  </p>
  <p>For information because I wasn't so sure myself until recently :</p>
  <p>
    The <a
      class="out"
      href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation"
      >GDPR</a
    > annoying cookie tracking popup question you see on most websites isn't needed
    for things like user preferences since they don't store any sensitive or personnal
    data :)
  </p>
  <p class="deco" inert>*`':._.:'`*</p>
  <a class="home" href="/">← go back home</a>
</StatementLayout>

<style>
  @import "../assets/style/pages/statement.css";
</style>
