---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <div>
    <p>I do not collect data !</p>
    <p>/!\ WIP /!\</p>
  </div>
</MainLayout>

<style>
  div {
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    place-items: center;
  }

  p {
    width: fit-content;
  }
</style>
