@use './base.css';
@use './reset.css';
@use './transitions.scss';

body {
    background-color: #dedede;
    // background-color: #eee;
    // background: radial-gradient(circle, #eee, rgba(181, 179, 213, 0.1) 86%), url('~/assets/img/svg/noise.svg');
    // background-attachment: fixed;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: #000;

    &:hover {
        outline: none;
        text-decoration: underline;
    }
}

.center {
    height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.lookin {
    cursor: url("~/assets/img/svg/EyeIn.svg") 16 16, pointer;
}

.lookout {
    cursor: url("~/assets/img/svg/EyeOff.svg") 16 16, pointer;
}