@use './themes.scss';
@use './base.scss';
@use './reset.scss';
@use './transitions.scss';

body {
    background-color: var(--bg);
    // background: radial-gradient(circle, #eee, rgba(181, 179, 213, 0.1) 86%), url('~/assets/img/svg/noise.svg');
    // background-attachment: fixed;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--color);

    &:hover {
        outline: none;
        text-decoration: underline;
    }
}

.center {
    height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

p,
h1,
h2,
h3,
h4,
span,
button,
.icon {
    color: var(--color);
}

.lookin {
    cursor: url("~/assets/img/svg/EyeIn.svg") 16 16, pointer;
}

.lookout {
    cursor: url("~/assets/img/svg/EyeOff.svg") 16 16, pointer;
}

button {
    display: flex;
    align-items: center;
    // justify-content: center;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}