---
import Ascii from "@components/ascii.astro";
import LinkContact from "@components/atomic/LinkContact.astro";
import SocialsList from "@components/SocialsList.astro";

interface Crumb {
    url: string;
    name: string;
}

const path = Astro.originPathname;
const pathArray = path.substring(1, path.length - 1).split("/");
const crumbs: Crumb[] = getCrumbs();

function getCrumbs(): Crumb[] {
    const list: Crumb[] = [];
    if (path.length < 2) return [];

    for (const [index, name] of pathArray?.entries()) {
        const url = index === 0 ? name : list[index - 1]?.url + "/" + name;
        list.push({ url, name });
    }
    return list;
}
---

<footer>
    <div class="main">
        <div class="info">
            <div class="thanks">
                <p>Thanks</p>
                <p>for</p>
                <p>visiting <span></span></p>
            </div>
            <div class="rights">
                <a target="_blank" href="https://github.com/calamina"
                    >calamina</a
                >
                <span>~ {new Date().getFullYear()}</span>
            </div>
        </div>
        <div class="center">
            <Ascii />
            <LinkContact />
        </div>
        <SocialsList />
    </div>
    <div class="ascii-separator">
        {
            new Array(5).fill("").map(() => (
                <p>*:._.~'`'~._.:*'-._.:*</p>
                <p>*`':._.:'`*</p>
                <p>*:._.~'`'~._.:*'-._.:*</p>
            ))
        }
    </div>
    <div class="sub">
        <div class="ariane">
            <p>You are here :</p>
            <nav class="crumbs">
                <a href="/">home</a>
                {!!crumbs.length && <p>~</p>}
                {
                    crumbs.map((crumb, index) => (
                        <>
                            <a href={crumb.url}>{crumb.name}</a>
                            {index !== crumbs.length - 1 && <p>~</p>}
                        </>
                    ))
                }
            </nav>
        </div>
        <nav class="statements">
            <a href="/accessibility">accessibility</a>
            <a href="/privacy">privacy</a>
        </nav>
    </div>
</footer>

<style>
    footer {
        max-width: var(--app-width);
        width: 100%;
        background-color: var(--bg-darker0);
    }

    .main {
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: 18ch 1fr 18ch;
        gap: 2rem;
        align-items: end;
    }

    .ascii-separator {
        height: 1rem;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        /* width: calc(100% - 2rem); */

        p {
            color: var(--bg-darker0x);
        }
    }
    .sub {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
    }

    .statements {
        display: flex;
        gap: 3rem;
        a {
            position: relative;
            width: fit-content;

            &::before {
                content: "";
                position: absolute;
                left: -1rem;
                background-color: var(--highlight);
                height: 0.45rem;
                width: 0.45rem;
                flex-shrink: 0;
                border-radius: 0.5rem;
            }
        }
    }

    .ariane {
        display: flex;
        gap: 1ch;
    }

    .crumbs {
        display: flex;
        gap: 0.5ch;

        a {
            background-color: var(--bg-darker);
            padding: 0.1rem 0.2rem 0;
            border-radius: 0.25rem;

            &:hover,
            &:focus-visible {
                background-color: var(--highlight);
            }
        }

        p {
            color: var(--color-light);
        }
    }

    .thanks {
        justify-self: end;

        p {
            line-height: 1.25rem;
            grid-column: 2;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        span {
            background-color: var(--highlight);
            height: 0.45rem;
            width: 0.45rem;
            flex-shrink: 0;
            border-radius: 0.5rem;
        }
    }

    .center {
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
    }

    .info {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .rights {
        display: flex;
        gap: 1ch;
        align-items: center;

        & a {
            text-decoration: underline;
        }
    }

    @media (max-width: 1500px) {
        footer {
            gap: 0.5rem;
        }
    }

    @media (max-width: 1280px) {
        .main {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 3rem 1rem;
        }

        .sub {
            flex-flow: column;
            align-items: center;
            padding: 1.25rem 1rem 1rem;
            height: auto;
            gap: 0.25rem;
        }

        .info {
            gap: 0.5rem;
            align-items: center;
        }

        .thanks {
            display: flex;
            gap: 1ch;

            p {
                width: fit-content;
            }
        }

        .center {
            gap: 1rem;
            padding: 0 1rem 1rem;
        }
    }
</style>
