---
import Ascii from "@components/ascii.astro";
import LinkContact from "@components/atomic/LinkContact.astro";
import SocialsList from "@components/SocialsList.astro";
import Ariane from "./Ariane.astro";
import AsciiSeparator from "./atomic/AsciiSeparator.astro";
---

<footer>
    <div class="main">
        <div class="info">
            <div class="thanks">
                <p>Thanks</p>
                <p>for</p>
                <p>visiting <span></span></p>
            </div>
            <div class="rights">
                <a target="_blank" href="https://github.com/calamina">
                    calamina
                </a>
                <span>~ {new Date().getFullYear()}</span>
            </div>
        </div>
        <div class="center">
            <Ascii />
            <LinkContact />
        </div>
        <SocialsList />
    </div>
    <AsciiSeparator />
    <div class="sub">
        <Ariane />
        <nav class="statements">
            <a href="/accessibility">Accessibility</a>
            <a href="/privacy">Privacy</a>
        </nav>
    </div>
</footer>

<style>
    footer {
        position: relative;
        max-width: var(--app-width);
        background-color: var(--bg);
        border-top: 1px solid var(--bg-alt);
        overflow-x: hidden;
        padding: 2rem 0;
    }

    a {
        border-radius: var(--radius-sm);
    }

    .main {
        padding: 2rem 3rem;
        display: grid;
        grid-template-columns: 18ch 1fr 18ch;
        gap: 2rem;
        align-items: end;

        @media (max-width: 1280px) {
            padding: 2rem;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }

    .sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 1rem;

        @media (max-width: 1280px) {
            flex-flow: column;
            align-items: center;
            padding: 1.5rem 1rem 1.5rem;
            gap: 1rem;
        }
    }

    .statements {
        display: flex;
        gap: 3rem;
        a {
            position: relative;
            width: fit-content;
            padding: 0 0.5rem;

            &::before {
                content: "";
                position: absolute;
                left: -0.75rem;
                background-color: var(--highlight);
                height: 0.45rem;
                width: 0.45rem;
                flex-shrink: 0;
                border-radius: var(--radius-md);
            }

            &:focus-within {
                background-color: var(--highlight);
            }
        }
    }

    .thanks {
        justify-self: end;

        p {
            line-height: 1.25rem;
            grid-column: 2;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        span {
            background-color: var(--highlight);
            height: 0.45rem;
            width: 0.45rem;
            flex-shrink: 0;
            border-radius: var(--radius-md);
        }
    }

    .center {
        display: flex;
        flex-flow: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

        @media (max-width: 1280px) {
            padding-bottom: 0.5rem;
        }
    }

    .info {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .rights {
        display: flex;
        gap: 1ch;
        align-items: center;

        & a {
            text-decoration: underline;
        }
    }

    @media (max-width: 1280px) {
        .info {
            gap: 0.5rem;
            align-items: center;
        }

        .thanks {
            display: flex;
            gap: 1ch;

            p {
                width: fit-content;
            }
        }
    }
</style>
