---
import Ascii from "./ascii.astro";
---

<!-- ---
import { Image } from "astro:assets";
import logo from "../assets/img/svg/calaminaLOGO.svg";
--- -->
<footer>
    <div class="sep"></div>
    <div class="info">
        <span>©</span>
        <a target="”_blank”" href="https://github.com/calamina">calamina</a>
        <span>~ 2024</span>
    </div>
    <Ascii />
    <!-- <Image src={logo} alt={"calamina logo"} /> -->
</footer>

<style lang="css" scoped>
    footer {
        max-width: var(--app-width);
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 0.5rem 0 2.5rem;
        gap: 2rem;
    }

    /* img {
        height: fit-content;
    } */

    .sep {
        height: 2px;
        width: 2rem;
        background-color: var(--bg-darker);
    }

    .info {
        display: flex;
        gap: 0.5rem;
    }

    a {
        text-decoration: underline;
    }
</style>
