---
import Ascii from "@components/ascii.astro";
import LinkContact from "@components/atomic/LinkContact.astro";
import SocialsList from "@components/SocialsList.astro";
import Ariane from "./Ariane.astro";
---

<footer>
    <div class="main">
        <div class="info">
            <div class="thanks">
                <p>Thanks</p>
                <p>for</p>
                <p>visiting <span></span></p>
            </div>
            <div class="rights">
                <a target="_blank" href="https://github.com/calamina"
                    >calamina</a
                >
                <span>~ {new Date().getFullYear()}</span>
            </div>
        </div>
        <div class="center">
            <Ascii />
            <LinkContact />
        </div>
        <SocialsList />
    </div>
    <div class="ascii-separator" inert>
        {
            new Array(5).fill("").map(() => (
                <p>*:._.~'`'~._.:*'-._.:*</p>
                <p>*`':._.:'`*</p>
                <p>*:._.~'`'~._.:*'-._.:*</p>
            ))
        }
    </div>
    <div class="sub">
        <Ariane />
        <nav class="statements">
            <a href="/accessibility">Accessibility</a>
            <a href="/privacy">Privacy</a>
        </nav>
    </div>
</footer>

<style>
    footer {
        max-width: var(--app-width);
        width: 100%;
        width: calc(100% - 3rem);
        margin-bottom: 1.5rem;
        background-color: var(--bg-alt);
        border-radius: var(--radius-sm);
        overflow-x: hidden;

        @media (max-width: 1280px) {
            width: calc(100% - 1.5rem);
            width: 100%;
            margin-bottom: 0;
            border-radius: 0;
            gap: 0.5rem;
            padding-bottom: 1rem;
        }
    }

    .main {
        padding: 2rem 3rem;
        display: grid;
        grid-template-columns: 18ch 1fr 18ch;
        gap: 2rem;
        align-items: end;

        @media (max-width: 1280px) {
            padding: 2rem 1rem 1rem;
            gap: 1rem;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }

    .ascii-separator {
        height: 1rem;
        margin: .5rem auto 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: calc(100% - 1rem);

        p {
            color: var(--color-alter);
        }
    }
    .sub {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;

        @media (max-width: 1280px) {
            flex-flow: column;
            align-items: center;
            padding: 1rem 1rem 1.5rem;
            height: auto;
            gap: 0.25rem;
        }
    }

    .statements {
        display: flex;
        gap: 3rem;
        a {
            position: relative;
            width: fit-content;

            &::before {
                content: "";
                position: absolute;
                left: -1rem;
                background-color: var(--highlight);
                height: 0.45rem;
                width: 0.45rem;
                flex-shrink: 0;
                border-radius: var(--radius-md);
            }
        }
    }

    .thanks {
        justify-self: end;

        p {
            line-height: 1.25rem;
            grid-column: 2;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        span {
            background-color: var(--highlight);
            height: 0.45rem;
            width: 0.45rem;
            flex-shrink: 0;
            border-radius: var(--radius-md);
        }
    }

    .center {
        height: 100%;
        justify-content: space-between;
        overflow: hidden;

        @media (max-width: 1280px) {
            padding-bottom: .5rem;
        }
    }

    .info {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .rights {
        display: flex;
        gap: 1ch;
        align-items: center;

        & a {
            text-decoration: underline;
        }
    }

    @media (max-width: 1280px) {
        .info {
            gap: 0.5rem;
            align-items: center;
        }

        .thanks {
            display: flex;
            gap: 1ch;

            p {
                width: fit-content;
            }
        }
    }
</style>
