---
import AppHeaderSublink from "@components/AppHeaderSublink.astro";
import ThemeSwitch from "./features/theme/ThemeSwitch.astro";

const { project } = Astro.params;
const { article } = Astro.params;
const route = Astro.originPathname;

enum ROUTES {
  home = "/",
  about = "/about/",
  projects = "/projects/",
  articles = "/articles/",
}

const routes = {
  home: route === ROUTES.home,
  about: route === ROUTES.about,
  projects: route === ROUTES.projects,
  articles: route === ROUTES.articles,
  inprojects: route.includes(ROUTES.projects),
  inarticles: route.includes(ROUTES.articles),
};
---

<header>
  <a class="logo" href={routes.home ? "#" : "/"}>
    <span class="logotext">calamina</span>
    ᴗ
    <span class="logotext">cafe</span>
  </a>
  <nav class="desktop">
    <div class="projects">
      <a
        href={routes.projects ? "#" : "/projects"}
        class:list={[{ active: routes.inprojects }]}
      >
        projects
      </a>
      <AppHeaderSublink sublink={project} />
    </div>
    <div class="projects">
      <a
        href={routes.articles ? "#" : "/articles"}
        class:list={[{ active: routes.inarticles }]}
      >
        articles
      </a>
      <AppHeaderSublink sublink={article} />
    </div>
  </nav>
  <div class="actions desktop">
    <ThemeSwitch />
  </div>
  <div class="actions mobile">
    <button class="mobile menu">MEnu</button>
  </div>
</header>

<style scoped>
  header {
    max-width: var(--app-width);
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: 1280px) {
      display: flex;
      width: 100%;
    }
  }

  nav {
    display: flex;
    gap: 2rem;
    justify-self: center;
    padding: 0.5rem;

    @media screen (max-width: 800px) {
      gap: 1rem;
    }
  }

  a {
    pointer-events: auto;
    height: fit-content;
    border-radius: 0;
  }

  .logo {
    padding: 0.25rem 1rem;
    gap: 0.15rem;
    background-color: var(--highlight);
    color: var(--color-hover);
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      .logotext {
        &:first-of-type {
          width: 8ch;
        }
        &:last-of-type {
          width: 4ch;
        }
      }
    }
  }

  .logotext {
    width: 1ch;
    overflow: hidden;
    color: var(--color-hover);
    transition: width 0.25s;
  }

  .projects {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
    pointer-events: auto;
    margin-right: auto;

    &::before,
    &::after {
      content: "";
      width: 1ch;
      color: var(--bg-darker);
      transition: transform 0.125s ease-out;
    }

    &:before {
      transform: translateX(-0.1rem);
    }
    &:after {
      transform: translateX(0.1rem);
    }

    &:has(.active),
    &:has(a:hover) {
      &::before,
      &::after {
        color: var(--color);
      }
      &::before {
        content: "[";
        transform: translateX(-0.3rem);
      }
      &::after {
        content: "]";
        transform: translateX(0.3rem);
      }

      &:has(.active) a {
        background-color: var(--bg-darker0);
        text-decoration: underline;
      }

      &:has(a:hover) a {
        background-color: var(--highlight);
      }
    }

    a {
      text-decoration: none;
    }
  }

  .actions {
    justify-self: end;
    display: flex;
    gap: 0.5rem;
    pointer-events: auto;
    margin-left: auto;
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .subtype {
    color: var(--color-light);
  }

  .menu {
    margin-left: auto;
    width: fit-content;
  }

  .desktop {
    display: flex;
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 1200px) {
      display: flex;
    }
  }

  @media (max-width: 1280px) {
    header {
      padding: 1rem;
    }
  }
</style>
