---
import Icon from "@components/icons/Icon.astro";
---

<script>
  import MiniSearch, { type SearchResult } from "minisearch";
  let miniSearch = new MiniSearch({
    fields: ["name", "text"],
    storeFields: ["name", "url"],
    searchOptions: { prefix: true, boost: { title: 2 } },
  });

  let body: {
    slug: string;
    name: string;
    text: string;
  }[] = [];

  const init = async () => {
    try {
      const response = await fetch("/search.json");
      body = await response.json();
      miniSearch.addAll(body);
    } catch (err) {
      console.error("Error while searching", err);
    }
  };

  init();

  const input = document.querySelector("#search") as HTMLInputElement;
  input?.addEventListener("input", () => {
    const data = input.value;
    const elt = document.querySelector("#results") as HTMLInputElement;

    if (data.length < 2) return (elt.innerHTML = "");

    const results = miniSearch.search(data);
    const processedResults = processResults(results);

    elt.innerHTML = processedResults;
  });

  const search = document.querySelector(".search");
  search?.addEventListener(
    "blur",
    () => {
      setTimeout(() => {
        if (!search.contains(document.activeElement)) resetSearch();
      }, 200);
    },
    true,
  );

  document.addEventListener("keyup", (e) => {
    if (e.key === "Escape" && search?.contains(document.activeElement)) {
      resetSearch(true);
    }
  });

  const resetSearch = (focus?: boolean) => {
    const input = document.querySelector("#search") as HTMLInputElement;
    const elt = document.querySelector("#results") as HTMLInputElement;
    input.value = "";
    elt.innerHTML = "";
    if (focus) input.focus();
  };

  const processResults = (results: SearchResult[]) => {
    const html: string[] = [];

    for (const result of results) {
      const name = formatName(result.url);
      const formattedResult = formatResult(result, name);
      html.push(formattedResult);
    }

    return html.join("");
  };

  const formatName = (url: string) => {
    return url.slice(1).replace("/", "<span class='sep'>:</span>");
  };

  const formatResult = (result: SearchResult, name: string) => {
    return `
        <a href="${result.url}" class="result" title="${result.id}">
          <p class="name">${name}</p>
          <p class="content">${result.terms.slice(0, 4).join(" ")}</p>
        </a>
      `;
  };
</script>

<!-- TODO :: test dialog -->
<div class="search">
  <div class="input">
    <input type="search" name="search" id="search" placeholder="search" />
    <Icon icon="IconSearch" />
  </div>
  <div id="results"></div>
</div>

<style>
  .search {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: end;
  }

  .input {
    position: relative;
    display: flex;
    align-items: center;

    *:not(input) {
      position: absolute;
      right: 0.5rem;
      top: 0.65rem;
      height: 1rem;
      width: 1rem;
      color: var(--color-alt);
      /* background-color: red; */
    }
  }

  input[type="search"] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: var(--bg-alt);
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-md);
    height: 2.25rem;
    padding-right: 2rem;
    width: calc(12ch);
    transition: width var(--timing-sm);

    &::placeholder {
      color: var(--color);
      opacity: 0.6;
    }

    &:focus-within {
      outline: 2px solid var(--color);
      width: 18ch;
    }
  }

  #results {
    position: absolute;
    top: 2.65rem;
    right: 0;
    width: 30rem;
    margin-top: 0.25rem;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    background-color: var(--bg-alt);
    max-height: 30rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) transparent;
    scroll-behavior: smooth;
    border-radius: var(--radius-sm);

    &:focus {
      outline: 2px solid var(--color);
    }

    &:has(.result) {
      padding: 0.5rem;
    }

    .result {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: var(--radius-sm);
      overflow-x: hidden;
      padding: 0.25rem;
      background-color: var(--bg-alt);
      flex-shrink: 0;
      outline-offset: 0;

      &:hover,
      &:focus-within {
        background-color: var(--bg-alter);

        .content {
          color: var(--color-alt);
        }
      }
    }

    p {
      background-color: var(--bg);
      height: 100%;
      width: fit-content;
      display: grid;
      place-items: center;
      padding: 0.1rem 0.5rem 0.2rem;
      border-radius: var(--radius-sm);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      display: inline-block;
      flex-shrink: 0;
    }

    .content {
      display: inline-block;
      color: var(--color-alter);
      background-color: transparent;
      font-weight: 300;
    }

    .sep {
      color: var(--color-alter);
    }
  }
</style>
