---
interface Crumb {
  url: string;
  name: string;
}

interface Props {
  discrete?: boolean;
}

const { discrete } = Astro.props;

const path = Astro.originPathname;
const pathArray = path.substring(1, path.length - 1).split("/");
const crumbs: Crumb[] = getCrumbs();

function getCrumbs(): Crumb[] {
  const list: Crumb[] = [];
  if (path.length < 2) return [];

  for (const [index, name] of pathArray?.entries()) {
    const url = index === 0 ? `/${name}` : `${list[index - 1]?.url}/${name}`;
    list.push({ url, name });
  }
  return list;
}
---

<div class="ariane" class:list={{ discrete: discrete }}>
  <p>You are here :</p>
  <nav class="crumbs">
    <a href="/" class="home">home</a>
    {!!crumbs.length && <p>~</p>}
    {
      crumbs.map((crumb, index) => (
        <Fragment>
          <a href={crumb.url}>{crumb.name}</a>
          {index !== crumbs.length - 1 && <p>~</p>}
        </Fragment>
      ))
    }
  </nav>
</div>

<style>
  .ariane {
    display: flex;
    gap: 1ch;

    @media (max-width: 1280px) {
      gap: 0.5rem;
      flex-flow: column;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
  }

  .discrete {
    margin: 0;
    padding: 0;

    & > p {
      display: none;
    }

    .crumbs a {
      background-color: var(--bg-alt);
      color: var(--color-alt);
      height: 2rem;
      padding: 0rem 0.5rem;

      &:hover,
      &:focus-visible {
        background-color: var(--bg-alter);
      }
    }

    .home {
      display: none;
    }
  }

  .crumbs {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    a {
      color: var(--color);
      background-color: var(--bg-alt);
      border-radius: var(--radius-sm);
      padding: 0rem 0.4rem 0.12rem;

      @media (max-width: 1280px) {
        padding: 0.2rem 0.5rem 0.15rem;
      }

      &:hover,
      &:focus-visible {
        background-color: var(--highlight);
        color: var(--color-hover);
      }
    }

    p {
      color: var(--color-alter);
    }
  }
</style>
