<button class="lookin">
  <slot />
</button>

<style>
  button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-darker0);
    outline-offset: -1px;
    max-height: 85dvh;
    border-radius: 0.25rem;
    overflow: hidden;

    &:focus,
    &:hover {
      outline: 1px solid var(--Grey-800);
    }
  }
</style>
