<a href="/">
  <span>calamina</span>
  ᴗ
  <span>cafe</span>
</a>

<style>
  a {
    padding: 0.15rem 1rem 0.3rem;
    gap: 0.15rem;
    background-color: var(--highlight);
    color: var(--color-hover);
    border-radius: var(--radius-sm);
    height: 2.25rem;

    @media (min-width: 1280px) {
      &:hover,
      &:focus {
        span {
          &:first-of-type {
            width: 8ch;
          }
          &:last-of-type {
            width: 4ch;
          }
        }
      }
    }
  }

  span {
    width: 1ch;
    overflow: hidden;
    color: var(--color-hover);
    transition: width var(--timing-lg);
  }
</style>
