---
import { Icon } from "astro-icon/components";
---

<nav>
  <a target="”_blank”" href="https://github.com/calamina">
    <Icon height={20} width={20} name="tabler:brand-github" />
    github
  </a>
  <a target="”_blank”" href="https://www.linkedin.com/in/gregoire-belliere/">
    <Icon height={20} width={20} name="tabler:brand-linkedin" />
    linkedin
  </a>
  <a target="”_blank”" href="https://en.wikipedia.org/wiki/User:Calamina *">
    <Icon height={20} width={20} name="tabler:notebook" />
    wikipedia
  </a>
  <a target="”_blank”" href="https://www.youtube.com/@calamina">
    <Icon height={20} width={20} name="tabler:brand-youtube" />
    youtube
  </a>
  <a target="”_blank”" href="https://www.senscritique.com/calamina">
    <Icon height={20} width={20} name="tabler:bookmark" />
    senscritique
  </a>
</nav>

<style scoped lang="scss">
  nav {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
  }
</style>
