---
import Icon from "@components/icons/Icon.astro";
---

<nav>
  <a target="”_blank”" href="https://github.com/calamina">
    <Icon icon="IconGithub" />
    <span>github</span>
  </a>
  <a target="”_blank”" href="https://www.linkedin.com/in/gregoire-belliere/">
    <Icon icon="IconLinkedin" />
    <span>linkedin</span>
  </a>
  <a target="”_blank”" href="https://en.wikipedia.org/wiki/User:Calamina *">
    <Icon icon="IconWikipedia" />
    <span>wikipedia</span>
  </a>
  <a target="”_blank”" href="https://www.youtube.com/@calamina">
    <Icon icon="IconYoutube" />
    <span>youtube</span>
  </a>
  <a target="”_blank”" href="https://www.senscritique.com/calamina">
    <Icon icon="IconBookmark" />
    <span>senscritique</span>
  </a>
</nav>

<style>
  nav {
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    width: fit-content;
    justify-self: end;

    @media (max-width: 1280px) {
      justify-self: center;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      gap: 0 1rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding-bottom: 0.15rem;
    }

    &:hover * {
      color: var(--color-hover);
    }
  }
</style>
