---
import Icon from "@components/icons/Icon.vue";
import IconMoon from "./icons/IconMoon.vue";
import IconMoonHalf from "./icons/IconMoonHalf.vue";
import IconMoonHalfFilled from "./icons/IconMoonHalfFilled.vue";
import IconMoonStars from "./icons/IconMoonStars.vue";
import ThemeSwitchButton from "./ThemeSwitchButton.vue";
---

<div class="theme">
  <button title="theme picker" popovertarget="theme-menu" class="theme-picker">
    <Icon icon={IconMoon} />
  </button>
  <div popover id="theme-menu" class="theme-menu">
    <ThemeSwitchButton client:only theme="system">
      <Icon icon={IconMoonStars} />
    </ThemeSwitchButton>
    <ThemeSwitchButton client:only theme="light">
      <Icon icon={IconMoonHalf} />
    </ThemeSwitchButton>
    <ThemeSwitchButton client:only theme="dark">
      <Icon icon={IconMoonHalfFilled} />
    </ThemeSwitchButton>
  </div>
</div>

<style scoped>
  [popover] {
    z-index: 200;
    background-color: var(--bg-darker0);
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    padding: 0.5rem;
    top: 2rem;
    width: 9rem;
    right: 2rem;
    left: 10rem;
    opacity: 0;
    border: none;
    outline: none;
    transition: opacity 0.125s ease-out;

    &:popover-open {
      opacity: 1;
    }
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  .theme {
    display: flex;
    position: relative;
    overflow: visible;

    .theme-picker {
      background-color: var(--bg);
      width: 100%;
      padding: 0.5rem;
      border-radius: 0;

      &.activetheme,
      &.active-theme:hover {
        background-color: var(--bg-darker0);
      }
    }
  }
</style>
