---
import Icon from "@components/icons/Icon.vue";
import IconMoon from "./icons/IconMoon.vue";
import ThemeSwitchButton from "./ThemeSwitchButton.vue";
---

<div class="theme">
  <button title="theme picker" popovertarget="theme-menu" class="theme-picker">
    <Icon icon={IconMoon} />
  </button>
  <div popover id="theme-menu">
    <ThemeSwitchButton client:only theme="system" icon="IconMoonStars" />
    <ThemeSwitchButton client:only theme="light" icon="IconMoonHalf" />
    <ThemeSwitchButton client:only theme="dark" icon="IconMoonHalfFilled" />
  </div>
</div>

<style scoped>
  [popover] {
    z-index: 200;
    background-color: var(--bg-darker0);
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    top: 3.5rem;
    left: calc(100vw - 10.5rem);
    width: 9rem;
    opacity: 0;
    border: none;
    outline: none;
    transition: opacity 0.125s ease-out;

    @media (max-width: 1280px) {
      left: calc(100vw - 9.5rem);
    }

    &:popover-open {
      opacity: 1;
    }
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  .theme {
    display: flex;
    position: relative;
    right: 0;
    overflow: visible;

    &:has([popover]:popover-open) .theme-picker {
      background-color: var(--bg-darker0);
    }

    .theme-picker {
      background-color: var(--bg);
      width: 100%;
      padding: 0.5rem;
      border-radius: 0;

      &:hover {
        background-color: var(--bg-darker0);
      }
    }
  }
</style>
