---
import { query } from "../utils/utils.ts";
import type { Moment } from "../models/Moment";
import TimelineSection from "./about/TimelineSection.vue";

const jobs = await query<Moment>("jobs");
const studies = await query<Moment>("studies");
---

<div class="timeline">
  <TimelineSection moments={jobs} title="Jobs" />
  <TimelineSection moments={studies} title="Studies" />
  <!-- <TimelineSection moments={jobs} title="Jobs & internships" /> -->
</div>

<style scoped lang="scss">
  .timeline {
    width: fit-content;
    display: grid;
    grid-template-columns: auto 2px 1fr;
    gap: 2rem;
  }
</style>
