---
import type { Project } from "@models/Project";

interface Props {
  projects: Project[];
}
const { projects } = Astro.props;

const tags: Set<string> = new Set();
projects.map((project) => project.tags?.forEach((tag) => tags.add(tag)));

const countTags = (tagname: string) => {
  return projects.filter((project) =>
    project.tags?.some((tag) => tag === tagname),
  ).length;
};
---

<script>
  import { useProjectFilters } from "@utils/projects-filters";
  useProjectFilters();
</script>

<nav>
  {
    tags.values().map((tag) => (
      <button class="tagSelector" value={tag}>
        {tag}
        <span class="count">{countTags(tag)}</span>
      </button>
    ))
  }
  <button class="reset">all</button>
</nav>

<style>
  nav {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;

    @media (max-width: 1280px) {
      flex-flow: row wrap;
    }
  }

  button {
    display: flex;
    align-items: baseline;
    gap: 1ch;
    padding: 0.15rem 0.5rem 0.25rem 0.4rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--bg-alt);

    @media (max-width: 1280px) {
      padding: 0.2rem 0.5rem;
    }

    &:hover {
      background-color: var(--bg-alter);
    }

    &.reset {
      margin-left: auto;
      background-color: var(--bg-alt);

      @media (max-width: 1280px) {
        margin-left: 0;
      }
    }

    &.active,
    &:hover.active {
      background-color: var(--highlight);
      color: var(--color-hover);
    }

    &:hover,
    &.active {
      .count {
        color: var(--color-alt);
      }
    }
  }

  .count {
    color: var(--color-alter);
    font-size: 0.8rem;
  }
</style>
