---
import { getProjectImages } from "@utils/images";
import { Image } from "astro:assets";

interface Props {
  project: string;
  name: string;
}

const { project, name } = Astro.props;
const images = getProjectImages(project);
---

<script>
  const dialog = document.querySelector("dialog");
  const buttons: HTMLButtonElement[] = Array.from(
    document.querySelector(".gallery")?.querySelectorAll("button") ?? [],
  );

  buttons.forEach((button) => {
    button.addEventListener("click", (e: MouseEvent) => {
      // const imgEvent = (
      //   e.target instanceof HTMLButtonElement ? e.target.children[0] : e.target
      //   ) as HTMLImageElement | null;
      //   focusImage(imgEvent);
      dialog?.showModal();
    });
  });

  // function focusImage(e: HTMLImageElement | null) {
  //   console.debug(e);
  //   // todo:: openmodal
  // }

  // closeButton.addEventListener("click", () => {
  //   dialog.close();
  // });
</script>

<div class="wrapper">
  <div class="gallery">
    {
      images.map((image, index) => (
        <button>
          <Image
            src={image}
            alt={`${name} gallery picture ${index + 1}`}
            loading="eager"
          />
        </button>
      ))
    }
  </div>
  <dialog>
    <p>Salutations à tous les biniouss !</p>
    <img id="selectImage" src="" alt="" />
    <form method="dialog">
      <button>Bye!</button>
    </form>
  </dialog>
</div>

<style scoped>
  .wrapper {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 1.5rem;
    grid-column-start: 5;
    grid-column-end: 11;
  }

  .gallery {
    display: grid;
    gap: 0.5rem;
    padding-top: 0;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-darker0);
    /* outline-offset: -2px; */
    max-height: 85dvh;
    border-radius: 0.25rem;
    overflow: hidden;

    &:hover {
      outline: 2px solid var(--color);
    }
    &:first-of-type {
      grid-column: span 2;
    }
  }

  @media (max-width: 1280px) {
    .wrapper {
      padding-bottom: 0;
      flex: 1;
    }

    .gallery {
      display: flex;
      flex-flow: column;
      padding-top: 0rem;
    }
  }
</style>
