---
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<h1>{name}</h1>

<style>
  h1 {
    text-transform: capitalize;
    font-size: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    letter-spacing: -2px;
  }
</style>
