---
import ProjectPreview from "@components/features/project/ProjectPreview.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { Project } from "@models/Project";
import { queryWebProjects } from "@utils/content.ts";

const projects: Project[] = await queryWebProjects();
---

<!-- <script>
    import { useProjects } from "@utils/projects";
    useProjects();
</script> -->
<MainLayout>
    <div class="projects" id="projects">
        {projects.map((project) => <ProjectPreview project={project} />)}
    </div>
</MainLayout>

<style>
    .projects {
        position: relative;
        margin: 0 auto;
        /* width: 100%; */
        width: 70vw;
        padding: 4rem 4rem 8rem;
        gap: 1.75rem 0.25rem;
        transition: opacity 0.125s ease-out;
        transition-delay: 0.2s;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        place-items: center;

        @starting-style {
            opacity: 0;
        }

        @media (max-width: 1280px) {
            padding: 2rem 0;
            gap: 3rem;
            width: 100%;
        }
    }
</style>
