---
import ProjectPreview from "@components/features/project/ProjectPreview.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { Project } from "@models/Project";
import { queryWebProjects } from "@utils/content.ts";

const projects: Project[] = await queryWebProjects();
---

<MainLayout>
    <div class="projects">
        {projects.map((project) => <ProjectPreview project={project} />)}
    </div>
</MainLayout>

<style>
    .projects {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        gap: 5rem;
        padding: 5rem 1rem;
        display: flex;
        flex-flow: column;

        @media (max-width: 1280px) {
            padding: 2rem 1rem;
            gap: 2rem;
        }
    }
</style>
