---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="content">
        hello :)
        <a href="/projects/web/atlast">atlast</a>
        <a href="/projects/web/netstart">netstart</a>
    </div>
</MainLayout>
