---
import MainLayoutFooterless from "../../layouts/MainLayoutFooterless.astro";
import ProjectsGrid from "../../components/projects/ProjectsGrid.astro";
import ProjectsFilters from "../../components/projects/ProjectsFilters.vue";
import { query } from "../../utils";
import type { Project } from "../../models/Project";

const webProjects = await query<Project>("webProjects");
const phoneProjects = await query<Project>("phoneProjects");
---

<MainLayoutFooterless>
    <!-- <div class="grid"> -->
    <!-- <ProjectsFilters client:load /> -->
    <div class="content">
        <ProjectsGrid projects={webProjects} type="web" />
        <ProjectsGrid projects={phoneProjects} type="phone" />
    </div>
    <!-- </div> -->
</MainLayoutFooterless>

<style scoped lang="scss">
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        position: relative;
        padding-bottom: 2rem;
        gap: 1rem;
    }

    .content {
        grid-column: span 3;
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }
</style>
