---
import ProjectPreview from "@components/features/project/ProjectPreview.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { Project } from "@models/Project";
import { queryWebProjects } from "@utils/content.ts";

const projects: Project[] = await queryWebProjects();
---

<script>
    import { useProjects } from "@utils/projects";
    useProjects();
</script>

<MainLayout>
    <div class="projects" id="projects">
        {projects.map((project) => <ProjectPreview project={project} />)}
    </div>
</MainLayout>

<style>
    .projects {
        position: relative;
        height: calc(100dvh - 7.5rem);
        width: 100%;
        margin-bottom: auto;
        transition: opacity 0.125s ease-out;
        transition-delay: 0.2s;

        @starting-style {
            opacity: 0;
        }

        @media (max-width: 1280px) {
            padding: 2rem 0;
            gap: 3rem;
            grid-template-columns: 1fr;
            width: 100%;
        }
        canvas {
            display: none !important;
        }
    }
</style>
