---
import ProjectsGrid from "@components/features/project/ProjectsGrid.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { TypedProject } from "@models/Project";
import { queryWebProjects } from "@utils/content.ts";

const webProjects: TypedProject[] = await queryWebProjects();
---

<MainLayout>
    <div class="view">
        <ProjectsGrid projects={webProjects} />
    </div>
</MainLayout>

<style scoped>
    .view {
        width: 100%;
        padding-bottom: 3rem;
    }
</style>
