---
import Icon from "@components/icons/Icon.astro";

interface Props {
  theme: "light" | "dark" | "system";
  icon: any;
}

const { theme, icon } = Astro.props;
---

<button title={"theme-" + theme} data-theme={theme}>
  <Icon icon={icon} />
  <span>{theme}</span>
</button>

<style>
  button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    border-radius: var(--radius-sm);

    &:hover:not(.active) {
      background-color: var(--bg-alter);
      text-decoration: none;
    }

    span {
      width: 6ch;
      text-align: start;
      text-transform: capitalize;
    }

    &:focus {
      outline: 2px solid var(--color);
    }
    &:focus:not(.active) {
      background-color: var(--bg-alter);
    }
  }

  & .active {
    text-decoration: none;
    background-color: var(--bg);
  }
</style>
