---
import Favorite from "@components/features/about/Favorite.vue";
import type { Media } from "@models/Media";
import { query } from "@utils/utils.ts";

const movies = await query<Media>("favMovies");
const moviesAnimated = await query<Media>("favMoviesAnimated");
const moviesShort = await query<Media>("favMoviesShort");
const series = await query<Media>("favSeries");
const seriesAnimated = await query<Media>("favSeriesAnimated");
const books = await query<Media>("favBooks");
const booksVisual = await query<Media>("favBooksVisual");
const games = await query<Media>("favGames");

export interface Favorite {
  name: string;
  categories: { name: string; content: Media[] }[];
}

const list: Favorite[] = [
  {
    name: "movies",
    categories: [
      { name: "classic", content: movies },
      { name: "animated", content: moviesAnimated },
      { name: "shorts", content: moviesShort },
    ],
  },
  {
    name: "series",
    categories: [
      { name: "classic", content: series },
      { name: "animated", content: seriesAnimated },
    ],
  },
  {
    name: "books",
    categories: [
      { name: "books", content: books },
      { name: "graphic", content: booksVisual },
    ],
  },
  {
    name: "games",
    categories: [{ name: "games", content: games }],
  },
];
---

<div class="grid">
  <Favorite medias={list} client:visible />
</div>

<style scoped>
  .grid {
    width: 100%;
  }
</style>
