---
import "../assets/style/main.scss";
// import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" light-mode>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>calamina cafe</title>
		<!-- <ClientRouter /> -->
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	html {
		overscroll-behavior-y: none;
	}

	body {
		/* app tw-flex tw-flex-col tw-justify-between tw-items-center tw-min-h-screen */
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		min-height: 100vh;
	}

	main {
		max-width: var(--app-width);
		display: flex;
		flex-grow: 1;
		margin: 4rem 1rem;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
</style>
