---
import "../assets/style/main.scss";
// import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="light-mode">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Welcome ~ calamina is Grégoire Belliere"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>calamina cafe</title>
		<!-- <ClientRouter /> -->
		<script is:inline>
			const theme =
				localStorage?.getItem("vueuse-color-scheme") ??
				(window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light");

			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		overscroll-behavior-y: none;
	}

	body {
		/* app tw-flex tw-flex-col tw-justify-between tw-items-center tw-min-h-screen */
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		min-height: 100vh;
	}

	main {
		max-width: var(--app-width);
		display: flex;
		flex-grow: 1;
		margin: 5rem 2rem 0;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	/* img {
		width: 100%;
		height: fit-content;
		padding: 0 0.5rem;
	} */
</style>
