---
import "../assets/style/main.scss";
const path = Astro.originPathname.slice(1, -1).split("/").pop();
const prettyRoute = path ? path[0].toUpperCase() + path.slice(1) + " — " : "";
const title = prettyRoute + "calamina cafe";
---

<!doctype html>
<html lang="en" class="light-mode">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Welcome ~ calamina is Grégoire Belliere"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script
			is:inline
			data-goatcounter="https://calamina.goatcounter.com/count"
			async
			src="//gc.zgo.at/count.js"></script>
		<script src="../utils/themeSwitch.ts"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		overscroll-behavior-y: none;
	}

	body {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		min-height: 100vh;
	}

	main {
		max-width: var(--app-width);
		display: flex;
		flex-grow: 1;
		margin: 5rem 2rem 0;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
</style>
