---
import "../assets/style/main.css";

interface Props {
	description?: string | undefined;
}

const { description } = Astro.props;
const path = Astro.originPathname.slice(1, -1).split("/").pop();
const prettyRoute = path ? path[0].toUpperCase() + path.slice(1) + " — " : "";
const title = prettyRoute + "calamina cafe";
---

<script>
	const theme = localStorage.getItem("theme");
	const html = document.documentElement;
	if (theme) html.setAttribute("data-theme", theme);
</script>

<html lang="en" data-theme="system">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		min-height: 100dvh;
	}

	main {
		max-width: var(--app-width);
		display: flex;
		flex-grow: 1;
		height: 100%;
		min-height: calc(100dvh - 5rem);
		justify-content: center;
		width: 100%;

		@media (max-width: 1280px) {
			min-height: calc(100dvh - 3.75rem);
		}
	}
</style>
