---
import AppFooter from "@components/AppFooter.astro";
import Header from "@components/features/header/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

interface Props {
	description?: string | undefined;
}

const { description } = Astro.props;
---

<BaseLayout description={description}>
	<Header />
	<main>
		<slot />
	</main>
	<AppFooter />
</BaseLayout>

<style>
	main {
		max-width: var(--app-width);
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		padding: 0 3rem;
		height: 100%;
		min-height: calc(100svh - 6rem);
		justify-content: center;
		width: 100%;

		@media (max-width: 1280px) {
			min-height: calc(100svh - 6rem);
			padding: 0 2rem;
		}
	}
</style>
