---
import "../assets/style/main.scss";
import AppHeader from "../components/AppHeader.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<AppHeader />
	<main>
		<slot />
	</main>
</BaseLayout>

<style>
	main {
		max-width: 70rem;
		display: flex;
		flex-grow: 1;
		margin: 4rem 1rem 0;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
</style>
