---
import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.vue";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<AppHeader />
	<main>
		<slot />
	</main>
	<AppFooter />
</BaseLayout>

<style>
	main {
		max-width: var(--app-width);
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		margin: 5rem 0 0;
		padding: 0 2.5rem;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
</style>
