---
import "../assets/style/main.scss";
import AppHeader from "../components/AppHeader.vue";
import AppFooter from "../components/AppFooter.vue";
import Base from "./Base.astro";
---

<Base>
	<AppHeader client:load />
	<main>
		<slot />
	</main>
	<AppFooter />
</Base>

<style>
	main {
		max-width: 70rem;
		display: flex;
		flex-grow: 1;
		margin: 4rem 1rem;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
</style>
