---
import MainLayout from "./MainLayout.astro";

interface Props {
  description?: string | undefined;
}

const { description } = Astro.props;
---

<MainLayout description={description}>
  <div>
    <slot />
  </div>
</MainLayout>

<style>
  div {
    padding: 4rem 0 6rem;
    margin: 0;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 44rem;
    margin: 0 auto;

    @media (max-width: 1280px) {
      padding: 2rem 0;
    }
  }
</style>
