---
import type { Link } from "@models/Link";
import LinkIcon from "./LinkIcon.astro";

interface Props {
    links: Link[];
}
const { links } = Astro.props;
---

<div>
    {
        links.map((link) => (
            <LinkIcon url={link.url} label={link.label} icon={link.icon} />
        ))
    }
</div>

<style>
    div {
        width: fit-content;
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
</style>
