<div>
  <p>contact me at</p>
  <a href="mailto:gbelliere@gmail.com">gbelliere@gmail.com</a>
</div>

<style>
  div {
    display: flex;
    gap: 1ch;
    justify-content: center;
    width: fit-content;
    flex-shrink: 0;
    padding: 2px 0;
  }

  a {
    background-color: var(--highlight);
    color: var(--color-hover);
    padding-left: 0.25rem;
    padding-right: 0.35rem;
    border-radius: var(--radius-no);
  }

  p {
    @media (max-width: 1280px) {
      display: none;
    }
  }
</style>
