---
import Icon from "@components/icons/Icon.astro";

interface Props {
  url: string;
  label?: string;
}

const { url, label } = Astro.props;
---

<a href={url} target="_blank">
  {label ?? "visit"}
  <Icon icon="IconLink" />
</a>

<style>
  a {
    margin-top: 0.5rem;
    display: flex;
    align-content: center;
    border-radius: var(--radius-md);
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
    padding: 0.25rem 0.5rem 0.15rem;
    background-color: var(--bg-alt);

    &:hover {
      background-color: var(--highlight);
    }
  }

  html.dark a:hover {
    background-color: var(--bg-alt);
    color: var(--highlight);
  }
</style>
