<div>
  <p>contact me at</p>
  <a href="mailto:gbelliere@gmail.com">gbelliere@gmail.com</a>
</div>

<style>
  div {
    display: flex;
    width: 100%;
    gap: 1ch;
    justify-content: center;
    width: fit-content;
    justify-self: center;
  }

  a {
    background-color: var(--highlight);
    color: var(--color-hover);
    padding-left: 0.25rem;
    padding-right: 0.35rem;
    border-radius: 0;
    transition: padding 0.15s;
  }
</style>
