---
import BaseTag from "@components/atomic/TagBase.vue";
interface Props {
    items: string[];
    name?: string;
    color?: string;
}
const { name, items, color } = Astro.props;
---

<template>
    <div class="category">
        <div class="taglist">
            {name && <BaseTag class:list="title">{name}</BaseTag>}
            {items.map((item) => <BaseTag color={color}>{item}</BaseTag>)}
        </div>
    </div>
</template>

<style scoped>
    .category {
        width: 100%;
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
    }

    .taglist {
        display: flex;
        gap: 0.5rem;
        flex-flow: row wrap;
    }

    .title {
        text-transform: capitalize;
    }
</style>
