---
import AppSearch from "@components/AppSearch.astro";
import Logo from "@components/atomic/Logo.astro";
import Menu from "@components/features/mobile-menu/Menu.astro";
import ThemeSwitch from "@components/features/theme/ThemeSwitch.astro";
import HeaderCategories from "./HeaderCategories.astro";
import HeaderMobile from "./HeaderMobile.astro";
---

<header>
  <Logo />
  <HeaderCategories />
  <HeaderMobile />
  <div class="actions desktop">
    <AppSearch />
    <ThemeSwitch />
  </div>
  <div class="actions mobile">
    <Menu />
  </div>
</header>

<style>
  header {
    max-width: var(--app-width);
    display: flex;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: 1280px) {
      display: flex;
      width: 100%;
      padding: 2rem;
      height: fit-content;
    }
  }

  .actions {
    justify-self: end;
    display: flex;
    gap: 0.5rem;
    pointer-events: auto;
  }

  .menu {
    margin-left: auto;
    width: fit-content;
  }
</style>
