---
import Ariane from "@components/Ariane.astro";
const url = Astro.originPathname;
---

<div>
  {url !== "/" && <Ariane discrete={true} />}
</div>

<style>
  div {
    display: none;
    padding: 0;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    margin-right: auto;
    margin-left: 0.5ch;

    @media (max-width: 1280px) {
      display: flex;
      padding: 0 0;
    }
  }
</style>
